/**
 * General mixins
 */

/**
 * Mixin handling breakpoints for media queries
 * Source: http://css-tricks.com/media-queries-sass-3-2-and-codekit/
 */
@mixin breakpoint($point) {
  @if $point == medium {
      @media (max-width: 960px) { @content; }
  }
  @if $point == small {
      @media (max-width: 760px) { @content; }
  }
}

/**
 * Mixins used by helper classes .pull-image--$pos and .pull-quote--$pos
 * 1. returns `left` if given `right` and vice versa
 */
@mixin pull-quote($direction) {
  $opposite: opposite-position($direction); /* 1 */

  text-align: $opposite;
  float: $direction;
  margin: 0 0 $space 0;
  margin-#{$opposite}: $space;  
  border-#{$opposite}: 6px solid $pink;
  padding-#{$opposite}: $space;
}

@mixin pull-image($direction) {
  $opposite: opposite-position($direction); /* 1 */

  float: $direction;
  margin: 0 0 $space 0;
  margin-#{$opposite}: $space;
}