/**
 * Main styles for application
 */
.minnpost-application-container {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 1em;

  .clear {
    clear: both;
  }
  .js-dependent,
  .hidden {
    display: none;
  }
  .footnote {
    font-size: .75em;
    font-style: italic;
    color: #414141;
    margin-top: 3em;
    border-top: 1px solid #BCBCBC;
    padding-top: 1em;
  }
  
  .loading {
    width: 100%;
    text-align: center;
    padding: 2em 2em;
    color: #ABABAB;
    vertical-align: middle;
    height: 100%;
    line-height: 100%;
  }
  .loading span {
    padding: 10px 5px 10px 40px;
    background: transparent url($loader-image) center left no-repeat;
    vertical-align: middle;
    height: 100%;
    line-height: 100%;
  }
}