/**
 * Main styles for application
 */
.minnpost-application-container {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 1em;
  font-family: $sans-serif-font;

  .clear {
    clear: both;
  }
  .js-dependent,
  .hidden {
    display: none;
  }
  .footnote {
    font-size: .75em;
    font-style: italic;
    color: #414141;
    margin-top: 3em;
    border-top: 1px solid $color-light-grey;
    padding-top: 1em;
  }
  
  .messaging-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999999;
  }
  
  .loading {
    width: 20%;
    margin: 0 auto;
    text-align: center;
    padding: .5em 1em 1.5em 1em;
    color: #BCBCBC;
    vertical-align: middle;
    height: 1em;
    line-height: 1.5em;
    background-color: #FFFFFF;
    border-bottom: 1px solid $color-light-grey;
    border-right: 1px solid $color-light-grey;
    border-left: 1px solid $color-light-grey;

    span {
      padding: 10px 5px 10px 40px;
      background: transparent url($loader-image) center left no-repeat;
      vertical-align: middle;
      height: 100%;
      line-height: 100%;
    }
  }
  
  h2 {
    font-size: 1em;
    line-height: 1.15em;
    font-weight: bold;
    color: $color-dark-grey;
    margin-bottom: .5em;
  }
  
  .placeholder {
    border: 1px solid $color-dark-grey;
    background-color: $color-light-grey; 
    width: 100%;   
  }
  
  .note {
    font-size: .85em;
    line-height: 1.25em;
    color: $color-medium-grey;
  }
  
  .bottom-space {
    margin-bottom: 1em;
  }
  
  .force-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  .mc-application-container {
    margin-top: 1em;
  }
  
  .mc-right-column {
    padding-left: 10px;
  }
  
  .mc-left-column {
    padding-right: 10px;
  }
  
  .category-select-container {
    width: 50%;
    text-align: center;
    margin: 0 auto 1.5em auto;
    
    label {
      font-family: inherit;
    }
  }
    
  #neighborhood-map,
  #city-map {
    height: 350px;
    width: 100%;
    margin-bottom: 1em;
    
    .map-label-container {
      min-width: 10em;
      max-width: 18em;
      min-height: 2em;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      background-color: rgba(255, 255, 255, 0.9);
      -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
      border: 1px solid #888;
    
      .map-label-inner-container {
        padding: .5em;
      }
    }
  }
  
  .location-search-form {
    p {
      margin-bottom: 1em;
    }
    
    input {
      font-size: .85em;
      line-height: 1.25em;
      padding: .25em .5em;
      border: 1px solid $color-light-grey;
      color: $color-light-grey;
      background-color: $color-white;
      width: 65%;
    }
    input[type=submit] {
      padding: .25em 1em;
      color: $color-medium-grey;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      width: auto;
    }
    input[type=submit]:hover {
      background-color: $color-light-grey;
    }
  }
  
  .map-legend .legend-item {
    float: left;
    font-size: .65em;
    width: 20%;
    margin-bottom: .5em;
    color: $color-medium-grey;
    
    .legend-value {
      width: auto;
      border-left: 1px solid $color-light-grey;
      padding: .5em .25em .25em .25em;
    }
    
    .legend-color {
      width: 100%;
      height: 25px;
      border-top: 4px solid $color-white;
      -moz-box-shadow: 2px 0 0 -1px $color-light-grey inset;
      -webkit-box-shadow: 2px 0 0 -1px $color-light-grey inset;
      box-shadow: 2px 0 0 -1px $color-light-grey inset;
    }
    
    &.active-display .legend-color {
      border-top: 4px solid $color-light-grey;
    }
  }
  
  .mc-totals {
    text-align: center;
    
    .stat-value {
      font-size: 2.5em;
      line-height: 1.25em;
      min-height: 1.25em;
      display: block;
    }
    
    .note .stat-value {
      font-size: 1em;
      display: inline;
    }
  }
  
  .category-stats .category-stat {
    text-align: center;
    
    .stat-label {
      height: 3em;
      position: relative;
    }
    .stat-incidents {
      font-size: 1.75em;
      line-height: 1.25em;
      min-height: 1.25em;
      display: block;
    }
    
    &:hover {
      cursor: pointer;
      
      .stat-label {
        font-weight: bold;
      }
    }
    
    &.not-selected {
      * {
        color: $color-light-grey;
      }
    }
  }
    
  .chart {
    height: 225px;
    width: 100%;
  }
  
  
  @media screen and (max-width: 1024px) {
    .mc-right-column {
      padding-left: 0;
    }
    .mc-left-column {
      padding-left: 0;
    }
  }
}
