/**
 * Main styles for application
 */
.minnpost-application-container {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 1em;

  .clear {
    clear: both;
  }
  .js-dependent,
  .hidden {
    display: none;
  }
  .footnote {
    font-size: .75em;
    font-style: italic;
    color: #414141;
    margin-top: 3em;
    border-top: 1px solid #BCBCBC;
    padding-top: 1em;
  }
  
  .messaging-container {
    min-height: 3em;
  }
  
  .loading {
    width: 100%;
    text-align: center;
    padding: .5em 2em;
    color: #ABABAB;
    vertical-align: middle;
    height: 100%;
    line-height: 100%;

    span {
      padding: 10px 5px 10px 40px;
      background: transparent url($loader-image) center left no-repeat;
      vertical-align: middle;
      height: 100%;
      line-height: 100%;
    }
  }
  
  h2 {
    font-size: 3em;
    line-height: 1.15em;
  }
  
  .placeholder {
    border: 1px solid #222222;
    background-color: #DDDDDD; 
    width: 100%;   
  }
  
  .inner-column-left {
    margin-right: $space;
  }
  
  .row-space {
    margin-bottom: $space;
  }
  
  .note {
    font-size: .85em;
    color: #787878;
  }
    
  #neighborhood-map,
  #city-map {
    height: 350px;
    width: 100%;
    
    .map-label-container {
      min-width: 10em;
      max-width: 18em;
      min-height: 2em;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      background-color: rgba(255, 255, 255, 0.9);
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
      border: 1px solid #888;
    
      .map-label-inner-container {
        padding: .5em;
      }
    }
  }
    
  .month-display {
    width: 40%;
    float: right;
    text-align: right;
    font-size: 2em;
    line-height: 2em;
    font-family: $sans-serif-font;
  }
  
  .stat-value {
    font-size: 3em;
    font-family: $sans-serif-font;
  }
  
  .category-stats .category-stat {
    text-align: center;
    
    .stat-label {
      min-height: 3em;
    }
    .stat-incidents {
      font-size: 1.5em;
      line-height: 1.15em;
    }
    .stat-change {
      font-size: .75em;
      line-height: 1.15em;
    }
  }
    
  .chart {
    height: 225px;
    width: 100%;
    font-family: $sans-serif-font;
  }
  
  .mc-city-container {
  }
  
  .mc-neighborhood-container {
  }
}