/**
 * General variables
 */

$space: 1em;
$loader-image: 'https://s3.amazonaws.com/data.minnpost/projects/2012-mn-election-results/images/ajax-loader.gif';
$sans-serif-font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, "Century Gothic", "CenturyGothic", "Arial Narrow", Arial, "Lucida Grande", sans-serif;

$color-white: #FFFFFF;
$color-red: #9E0B0F;
$color-blue: #2C739F;
$color-dark-grey: #363636;
$color-medium-grey: #777777;
$color-light-grey: #BCBCBC;