/**
 * General variables
 */

$space: 1em;
$loader-image: 'https://s3.amazonaws.com/data.minnpost/projects/2012-mn-election-results/images/ajax-loader.gif';
$sans-serif-font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;