/**
 * Merge all stylesheets into one
 */
/**
 * General variables
 */
/**
 * General mixins
 */
/**
 * Mixin handling breakpoints for media queries
 * Source: http://css-tricks.com/media-queries-sass-3-2-and-codekit/
 */
/**
 * Mixins used by helper classes .pull-image--$pos and .pull-quote--$pos
 * 1. returns `left` if given `right` and vice versa
 */
/**
 * Main styles for application
 */
.minnpost-application-container {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 1em;
}
.minnpost-application-container .clear {
  clear: both;
}
.minnpost-application-container .js-dependent,
.minnpost-application-container .hidden {
  display: none;
}
.minnpost-application-container .footnote {
  font-size: .75em;
  font-style: italic;
  color: #414141;
  margin-top: 3em;
  border-top: 1px solid #BCBCBC;
  padding-top: 1em;
}
.minnpost-application-container .messaging-container {
  min-height: 3em;
}
.minnpost-application-container .loading {
  width: 100%;
  text-align: center;
  padding: .5em 2em;
  color: #ABABAB;
  vertical-align: middle;
  height: 100%;
  line-height: 100%;
}
.minnpost-application-container .loading span {
  padding: 10px 5px 10px 40px;
  background: transparent url("https://s3.amazonaws.com/data.minnpost/projects/2012-mn-election-results/images/ajax-loader.gif") center left no-repeat;
  vertical-align: middle;
  height: 100%;
  line-height: 100%;
}
.minnpost-application-container h2 {
  font-size: 3em;
  line-height: 1.15em;
}
.minnpost-application-container .placeholder {
  border: 1px solid #222222;
  background-color: #DDDDDD;
  width: 100%;
}
.minnpost-application-container .inner-column-left {
  margin-right: 1em;
}
.minnpost-application-container .row-space {
  margin-bottom: 1em;
}
.minnpost-application-container .mc-city-container #neighborhood-map {
  height: 350px;
  width: 100%;
}
.minnpost-application-container .mc-city-container #chart-one {
  height: 200px;
  width: 100%;
}
.minnpost-application-container .mc-city-container .current-month-display {
  font-size: 2em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.minnpost-application-container .mc-city-container .stat-value {
  font-size: 3em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.minnpost-application-container .mc-city-container .city-category-stats .stat-label {
  min-height: 3em;
}
.minnpost-application-container .mc-city-container .city-category-stats .stat-value {
  font-size: 1.5em;
  line-height: 1.15em;
}
