/**
 * Merge all stylesheets into one
 */
/**
 * General variables
 */
/**
 * General mixins
 */
/**
 * Mixin handling breakpoints for media queries
 * Source: http://css-tricks.com/media-queries-sass-3-2-and-codekit/
 */
/**
 * Mixins used by helper classes .pull-image--$pos and .pull-quote--$pos
 * 1. returns `left` if given `right` and vice versa
 */
/**
 * Main styles for application
 */
.minnpost-application-container {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 1em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, "Century Gothic", "CenturyGothic", "Arial Narrow", Arial, "Lucida Grande", sans-serif;
}
.minnpost-application-container .clear {
  clear: both;
}
.minnpost-application-container .js-dependent,
.minnpost-application-container .hidden {
  display: none;
}
.minnpost-application-container .footnote {
  font-size: .75em;
  font-style: italic;
  color: #414141;
  margin-top: 3em;
  border-top: 1px solid #bcbcbc;
  padding-top: 1em;
}
.minnpost-application-container .messaging-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999999;
  text-align: center;
}
.minnpost-application-container .application-error {
  background-color: #D70F16;
  border-bottom: 1px solid #A70C11;
  border-right: 1px solid #A70C11;
  border-left: 1px solid #A70C11;
  color: white;
  padding: .5em;
}
.minnpost-application-container .loading {
  width: 20%;
  margin: 0 auto;
  text-align: center;
  padding: .5em 1em 1.5em 1em;
  color: #BCBCBC;
  vertical-align: middle;
  height: 1em;
  line-height: 1.5em;
  background-color: #FFFFFF;
  border-bottom: 1px solid #bcbcbc;
  border-right: 1px solid #bcbcbc;
  border-left: 1px solid #bcbcbc;
}
.minnpost-application-container .loading span {
  padding: 10px 5px 10px 40px;
  background: transparent url("https://s3.amazonaws.com/data.minnpost/projects/2012-mn-election-results/images/ajax-loader.gif") center left no-repeat;
  vertical-align: middle;
  height: 100%;
  line-height: 100%;
}
.minnpost-application-container a {
  font-weight: bold;
}
.minnpost-application-container h2 {
  font-size: 1em;
  line-height: 1.15em;
  font-weight: bold;
  color: #363636;
  margin-bottom: .5em;
}
.minnpost-application-container .placeholder {
  border: 1px solid #363636;
  background-color: #bcbcbc;
  width: 100%;
}
.minnpost-application-container .note {
  font-size: .85em;
  line-height: 1.25em;
  color: #777777;
}
.minnpost-application-container .bottom-space {
  margin-bottom: 1em;
}
.minnpost-application-container .force-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.minnpost-application-container .mc-application-container {
  margin-top: 1em;
}
.minnpost-application-container .mc-right-column {
  padding-left: 10px;
}
.minnpost-application-container .mc-left-column {
  padding-right: 10px;
}
.minnpost-application-container .category-select-container {
  width: 50%;
  text-align: center;
  margin: 0 auto 1.5em auto;
}
.minnpost-application-container .category-select-container label {
  font-family: inherit;
}
.minnpost-application-container h2 .category-title {
  text-transform: lowercase;
}
.minnpost-application-container #neighborhood-map,
.minnpost-application-container #city-map {
  height: 350px;
  width: 100%;
  margin-bottom: 1em;
}
.minnpost-application-container #neighborhood-map .map-label-container,
.minnpost-application-container #city-map .map-label-container {
  min-width: 10em;
  max-width: 18em;
  min-height: 2em;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  border: 1px solid #888;
}
.minnpost-application-container #neighborhood-map .map-label-container .map-label-inner-container,
.minnpost-application-container #city-map .map-label-container .map-label-inner-container {
  padding: .5em;
}
.minnpost-application-container .location-search-form p {
  margin-bottom: 1em;
}
.minnpost-application-container .location-search-form input {
  font-size: .85em;
  line-height: 1.25em;
  padding: .25em .5em;
  border: 1px solid #bcbcbc;
  color: #bcbcbc;
  background-color: white;
  width: 65%;
}
.minnpost-application-container .location-search-form input.selected {
  border: 1px solid #363636;
  color: #363636;
}
.minnpost-application-container .location-search-form input[type=submit] {
  padding: .25em 1em;
  color: #777777;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  width: auto;
}
.minnpost-application-container .location-search-form input[type=submit]:hover {
  background-color: #bcbcbc;
}
.minnpost-application-container .location-geolocate {
  padding-right: 15px;
  background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAMCAYAAACulacQAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAACsQAAArEBUjaMygAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAADSSURBVBiVTY8xSgRBAASrB4PN7hUnBoLBBb5idvzOgVzkC4TTP2wgzuImGuwLRAMRhUsEg0tlU8c2GXE76a7uqGWblFJr+xw4At4kXeSce8UYE3AL/AAvwDEQgLMAbACXUlZ935+UUlaAgU0AlsBuGIZngOo74DAAr8AypdRKUkqpBZaS3g+AR+DUdo4xftleANh+CsA9/1rM8kNomuYO+JiVSPqcpukmdF1XJF3NR9vbcRy/Q+VrYF/zXtKWepac8wSs67iuDLaxDaAY4yWgv+4XE1hfAJBSEzAAAAAASUVORK5CYII=") center right no-repeat;
}
.minnpost-application-container .map-legend .legend-item {
  float: left;
  font-size: .65em;
  width: 20%;
  margin-bottom: .5em;
  color: #777777;
}
.minnpost-application-container .map-legend .legend-item .legend-value {
  width: auto;
  border-left: 1px solid #bcbcbc;
  padding: .5em .25em .25em .25em;
}
.minnpost-application-container .map-legend .legend-item .legend-color {
  width: 100%;
  height: 25px;
  border-top: 4px solid white;
  -moz-box-shadow: 2px 0 0 -1px #bcbcbc inset;
  -webkit-box-shadow: 2px 0 0 -1px #bcbcbc inset;
  box-shadow: 2px 0 0 -1px #bcbcbc inset;
}
.minnpost-application-container .map-legend .legend-item.active-display .legend-color {
  border-top: 4px solid #bcbcbc;
}
.minnpost-application-container .mc-totals {
  text-align: center;
}
.minnpost-application-container .mc-totals .stat-value {
  font-size: 2.5em;
  line-height: 1.25em;
  min-height: 1.25em;
  display: block;
}
.minnpost-application-container .mc-totals .note .stat-value {
  font-size: 1em;
  display: inline;
}
.minnpost-application-container .category-stats .category-stat {
  text-align: center;
  margin-bottom: 1em;
}
.minnpost-application-container .category-stats .category-stat .stat-label {
  font-size: .75em;
  line-height: 1.25em;
  height: 3em;
  position: relative;
}
.minnpost-application-container .category-stats .category-stat .stat-incidents {
  font-size: 1.75em;
  line-height: 1.25em;
  min-height: 1.25em;
  display: block;
}
.minnpost-application-container .category-stats .category-stat:hover, .minnpost-application-container .category-stats .category-stat.not-selected:hover {
  cursor: pointer;
}
.minnpost-application-container .category-stats .category-stat:hover *, .minnpost-application-container .category-stats .category-stat.not-selected:hover * {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  font-weight: bold;
}
.minnpost-application-container .category-stats .category-stat.not-selected * {
  opacity: 0.60;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
}
.minnpost-application-container .per-change.per-change-positive {
  color: #9e0b0f;
}
.minnpost-application-container .per-change.per-change-negative, .minnpost-application-container .per-change.per-change-zero {
  color: #2c739f;
}
.minnpost-application-container .diff-compare.diff-compare-more {
  color: #9e0b0f;
}
.minnpost-application-container .diff-compare.diff-compare-none, .minnpost-application-container .diff-compare.diff-compare-less {
  color: #2c739f;
}
.minnpost-application-container .diff-compare .diff-symbol {
  font-size: .75em;
  width: 1em;
  position: relative;
  top: -.25em;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.minnpost-application-container .chart {
  height: 225px;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .minnpost-application-container .mc-right-column {
    padding-left: 0;
  }
  .minnpost-application-container .mc-left-column {
    padding-left: 0;
  }
}
