<div class="mc-application-container">
    
  <div class="flurid mc-header">
    <div class="row">
      <div class="column width_1/1">
      
        <p>Header</p>
      
      </div>
    </div>
    
    <div class="row messaging-container">
      <div class="column width_1/1">
      
      </div>
    </div>
  </div>
  
  <div class="mc-content">
  </div>
    
    
  <div class="flurid mc-footer">
    <div class="row">
      <div class="column width_1/1">
        
        <p>Footer</p>
      
      </div>
    </div>
  </div>
</div>