<div class="mc-application-container">
    
  <div class="flurid mc-header">
    <div class="row">
      <div class="column_1/1">
      
        <p>Header</p>
      
      </div>
    </div>
    
    <div class="row general-loading hidden">
      <div class="column_1/1 col">
      
      </div>
    </div>
  </div>
    
  <div class="flurid mc-content">
    <div class="row">
      <div class="column_1/1">
      
        <p>Content</p>
      
      </div>
    </div>
  </div>
    
    
  <div class="flurid mc-footer">
    <div class="row">
      <div class="column_1/1">
        
        <p>Footer</p>
      
      </div>
    </div>
  </div>
</div>