<div class="mc-neighborhood-container">
  <div class="flurid">
    <div class="row row-space">
      <div class="column width_1/1">
        <div class="month-display">
          <span class="current-month"></span>, <span class="current-year"></span>
        </div>
      
        <h2 class="section-title"><%= (typeof title != 'undefined') ? title : '' %></h2>
        <a href="#city/<%= (typeof city != 'undefined') ? city : '' %>" class="city-link">
          <%= (typeof city != 'undefined') ? city : '' %>
        </a>
      </div>
    </div>
  
    <div class="row row-space">
      <div class="column width_1/2">
        <div class="inner-column-left">
          <p>Select a neighborhood from the map to see details.</p>
          <div id="neighborhood-map">
          </div>
          
          <div class="map-legend">
          </div>
        </div>
      </div>
      
      <div class="column width_1/2 last">
        <form>
          <label for="category-select-neighborhood">Select the category of incident:</label>
          <select class="category-select" id="category-select-neighborhood">
            <% if (typeof categories != 'undefined') { %>
              <% var currentCategory = currentCategory || 'total' %>
              <% _.each(categories, function(cat, c) { %>
                <option value="<%= c %>" <% if (currentCategory === c) { %>selected="true"<% } %>><%= cat.title %></option>
              <% }) %>
            <% } %>
          </select>
          <p>&nbsp;</p>
        </form>
          
        <h3><span class="category-title"></span> incidents</h3>
      
        <div class="column width_1/2">
          <div class="inner-column-left">
            <div class="stat-incidents-month">
              <p>Incidents this month</p>
              <span class="stat-value"></span>
              <span class="stat-symbol"></span>
            </div>
          </div>
        </div>
      
        <div class="column width_1/2">
          <div class="">
            <div class="stat-rate-month">
              <p>Incident rate (per 1,000 people)</p>
              <span class="stat-value"></span>
              <span class="stat-symbol"></span>
            </div>
          </div>
        </div>
      
        <div class="column width_1/2">
          <div class="inner-column-left">
            <div class="stat-change-last-month">
              <p>Change from last month</p>
              <span class="stat-value"></span>
              <span class="stat-symbol"></span>
            </div>
          </div>
        </div>
      
        <div class="column width_1/2">
          <div class="">
            <div class="stat-change-month-last-year">
              <p>Change from last year this month</p>
              <span class="stat-value"></span>
              <span class="stat-symbol"></span>
            </div>
          </div>
        </div>
      
        <div class="column width_1/1">
          <div class="population-numbers">
            Population | 2010: 
              <span class="population-2010"></span>
            | 2000:
              <span class="population-2000"></span>
          </div>
        </div>
        
      </div>
    </div>
    
    <div class="row row-space category-stats">
      <h4>Incidents this month per category</h4>
      <p class="note">The following are incident totals per category for the given month, below each number is the percent change from the prior month.</p>
      <% if (typeof categories != 'undefined') { %>
        <% _.each(categories, function(cat, c) { %>
          <div class="category-stat category-stat-<%= c %> column width_1/<%= _.size(categories) %>">
            <div class="stat-label"><%= cat.title %></div>
            <div class="stat-value stat-incidents"></div>
            <div class="stat-value stat-change"></div>
          </div>
        <% }) %>
      <% } %>
    </div>
    
    <div class="row row-space">
      <div class="column width_1/1 last">
        <h4><span class="category-title"></span> incidents each year up to <span class="current-month"></span></h4>
        <p class="note">As crime rates vary significantly each month, this chart shows the total number of incidents of a particular category of crime up to the current month for each year.</p>
        <div id="chart-neighborhood-incidents-this-year-history" class="chart"></div>
      </div>
    </div>
    
    <div class="row row-space">
      <div class="column width_1/1 last">
        <h4><span class="category-title"></span> incident rate each year</h4>
        <p class="note">This chart shows the rate of incidents (per 1,000 residents) of a particular category of crime for each full year.</p>
        <div id="chart-neighborhood-incident-rate-per-year" class="chart"></div>
      </div>
    </div>
    
    <div class="row">
      <div class="column width_1/1 last">
        <h4><span class="category-title"></span> incidents over the past 12 months (compared to 12 months prior)</h4>
        <p class="note">This chart shows the total number of incidents of a particular category of crime for each month for the past 12 months, compared to the same time period the year prior.</p>
        <div id="chart-neighborhood-last-year" class="chart"></div>
      </div>
    </div>
  </div>
</div>