<div class="mc-application-container grid-container">

  <div class="grid-100 messaging-container">
  </div>

  <div class="grid-100 mc-header">
    <div class="location-search-container">
      
    </div>
    <div class="category-select-container">
    
    </div>
  </div>
  
  <div class="grid-100 grid-parent mc-content">
    <div class="grid-100 grid-parent mc-city-view-container">
    
    </div>
    <div class="grid-100 grid-parent mc-neighborhood-view-container">
    
    </div>
  </div>
    
  <div class="grid-100 mc-footer">
  
  </div>
</div>