<div class="mc-city-container">
  <div class="flurid">
    <div class="row row-space">
      <div class="column width_1/1">
        <h2 class="section-title"></h2>
      </div>
    </div>
  
    <div class="row row-space">
      <div class="column width_1/2">
        <div class="inner-column-left">
          <div class="map placeholder">
            Map <span class="month-display"></span>
          </div>
        </div>
      </div>
      
      <div class="column width_1/2 last">
        <h3>Current Month</h3>
        <p class="current-month-display"></p>
        
        <h3>Total Crime</h3>
      
        <div class="column width_1/2">
          <div class="inner-column-left">
            <div class="stat-last-month">
              <p>Change from last month</p>
              <span class="stat-value"></span>
              <span class="stat-symbol"></span>
            </div>
          </div>
        </div>
      
        <div class="column width_1/2">
          <div class="inner-column-left">
            <div class="stat-last-year">
              <p>Change from last year</p>
              <span class="stat-value"></span>
              <span class="stat-symbol"></span>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    
    <div class="row row-space city-category-stats">
      <h4>Crime changes from last month</h4>
      <% _.each(categories, function(cat, c) { if (c !== 'total') { %>
        <div class="city-category-stat city-category-stat-<%= c %> column width_1/<%= (_.size(categories) - 1) %>">
          <div class="stat-label"><%= cat.title %></div>
          <div class="stat-value"></div>
        </div>
      <% }}) %>
    </div>
    
    <div class="row">
      <div class="column width_1/1 last">
        <h4>Crime over the past year</h4>
        <div id="chart-one"></div>
      </div>
    </div>
  </div>
</div>