<div class="mc-city-container">
  <div class="flurid">
    <div class="row row-space">
      <div class="column width_1/2">
        <div class="inner-column-left">
          <div class="map placeholder">
            Map <span class="month-display"></span>
          </div>
        </div>
      </div>
      
      <div class="column width_1/2 last">
        <h3>Current Month</h3>
        <p class="current-month-display">
        </p>
        
        <h3>Total Crime</h3>
      
        <div class="column width_1/2">
          <div class="inner-column-left">
            <div class="stat-last-month">
              <p>Change from last month</p>
              <span class="stat-value"></span>
              <span class="stat-symbol"></span>
            </div>
          </div>
        </div>
      
        <div class="column width_1/2">
          <div class="inner-column-left">
            <div class="stat-last-year">
              <p>Change from last year</p>
              <span class="stat-value"></span>
              <span class="stat-symbol"></span>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    
    <div class="row row-space">
      <div class="column width_1/1 last">
        <h4>Crime over the past year</h4>
        <div id="chart-one"></div>
      </div>
    </div>
    
    <div class="row">
      <div class="column width_1/1 last">
        <div class="placeholder">
          Charts <br /><br /><br /><br /><br />
        </div>
      </div>
    </div>
  </div>
</div>