<div class="mc-city-container">
  <div class="flurid">
    <div class="row row-space">
      <div class="column width_1/2">
        <div class="inner-column-left">
          <div class="map placeholder">
            Map
          </div>
        </div>
      </div>
      
      <div class="column width_1/2 last">
      
        <div class="column width_1/3">
          <div class="inner-column-left">
            <div class="placeholder">
              Stat 1 <br /><br />
            </div>
          </div>
        </div>
      
        <div class="column width_1/3">
          <div class="inner-column-left">
            <div class="placeholder">
              Stat 2 <br /><br />
            </div>
          </div>
        </div>
      
        <div class="column width_1/3">
          <div class="">
            <div class="placeholder">
              Stat 3 <br /><br />
            </div>
          </div>
        </div>
        
      </div>
    </div>
    
    <div class="row row-space">
      <div class="column width_1/1 last">
        <div class="placeholder">
          Charts <br /><br /><br /><br /><br />
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="column width_1/1 last">
        <div class="placeholder">
          Charts <br /><br /><br /><br /><br />
        </div>
      </div>
    </div>
  </div>
</div>